name: Bot Images
on:
  push:
    branches: [main]
  pull_request:
  release:
    type: [published]

jobs:
  bots:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Build Examples
        uses: SilverbackLtd/build-action@v1
        with:
            push: ${{ github.event_name != 'pull_request' }}
            tag:  ${{ github.event_name == 'release' && 'stable' || 'latest' }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
